<div class="main" >
      <div class="header">
        <h1>{{ts.getTranslate("Informatika")}}</h1>
        <img class="subjectImage">
      </div>
      <div class="info">
          <p>
         Siz adamyň informasion işi bilen baglanyşykly bilimleri we täze tehnologiýalary, informatikany öwrenmegi dowam edýärsiňiz.
         Informatika ýaş ylymlaryň biridir. Ol XX asyryň ikinji ýarymynda dörän ylym bolsa-da, ýaşlygyna garamazdan, häzirki zaman adamynyň biliminiň
         essasy bölegine öwrüldi. Informatikanyň iňlisçe ady Computer science - kompýuter ylmy diýmekdir. Bu ugurda gazanylan ajaýyp üstünlikleriň biri
         biziň gündelik durmuşymyzda ornaşan kompýuterleriň döredilmegidir. Kompýuteriň kömegi bilen siz diňe bir oýynry däl-de, eýsem internetiň
         ägirt uly dünýäsine, kompýuter şekilleriniň, tekstleriniň we matematiki hasaplamalaryň dünýäsine aralaşýarsyňyz.
          </p>
          <p>
           Informatika ders bäsleşiklerinde programmalaşdyrma, matematiki hasaplamalaryň kömegi bilen çözülýän mysallar duş geler. Meselem
          </p>
          
      </div>   
</div>