 
  <nav class="  navbar navbar-dark navbar-expand-lg bg-primary">
        
        
  <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
  <div class=" collapse navbar-collapse"  id="navbarsExample04">
   <ul class="navbar-nav mr-auto">
          <li class="nav-item"  >
            <a  class="nav-link" routerLink="/menu" routerLinkActive="active">{{ts.getTranslate("Baş sahypa")}} <span class="sr-only"></span></a>
          </li>
          <li class="nav-item"   >
            <a class="nav-link" routerLink="/olimpiadalar" routerLinkActive="active">{{ts.getTranslate("Olimpiadalar")}}</a>
          </li>
          <li class="nav-item"  >
            <a class="nav-link "routerLink="/testler" routerLinkActive="active">{{ts.getTranslate("Testler")}}</a>
          </li>
           <li class="nav-item"  >
            <a class="nav-link " routerLink="/top-rated" routerLinkActive="active">{{ts.getTranslate("Göreldeli okuwçylar")}}</a>
          </li>
           <li class="nav-item">
            <a class="nav-link " routerLink="/forum" routerLinkActive="active">{{ts.getTranslate("Forum")}}</a>
          </li>
          
              
   </ul>
       
     <div *ngIf="!uservice.isLogged()"><a   style="color:white; " routerLink="/registrasiya">{{ts.getTranslate("Registrasiýa")}} </a>/<a   style= "color:white; margin-right:10px;"routerLink="/sign-in">{{ts.getTranslate("Gir")}}</a></div>
     <div *ngIf="uservice.isLogged()"> <a   style="color:white; " routerLink="/edit">{{this.uservice.currentUser.name}} {{this.uservice.currentUser.surname}} </a> /<a   style= "color:white; margin-right:10px;" (click)="onQuite()"   routerLink="/menu">{{ts.getTranslate("Çyk")}}</a> </div>
     <img src="assets/subject_icons/gb.png" style="margin-right:10px;" alt="In English" title="In English" (click)="ts.change(3)"> 
     <img src="assets/subject_icons/ru.png" style="margin-right:10px;"  alt="" title="На русском" (click)="ts.change(2)"> 
     
  </div>
</nav>
    