          <!-- <div class="col-13 con" style="background-color:#20BB70; height:6x0px"></div> -->
     <div class="col-13 con">
      
     <div class="main ">
         
         <h1 class="mt my-2 my-md-0 d-none d-md-block">{{ts.getTranslate("Türkmenistan boýunça geçirilýän 'ZEHIN' internet ders")}}  <br> {{ts.getTranslate("bäsleşigi")}} <br></h1> 
         <h1 class="mt my-2 my-md-0 d-md-none " style="font-size:40px;">  {{ts.getTranslate("Türkmenistan boýunça geçirilýän 'ZEHIN' internet ders")}}  <br>{{ts.getTranslate("bäsleşigi")}} <br></h1>
         <br>
         <h1 class="mt2 my-2 my-md-0">
          
         <button routerLink="/olimpiadalar" mat-button class="bttn" > {{ts.getTranslate("Gatnaş")}} </button>
         </h1>
         <!--div style="margin-left:40%">
          <img  style=""src="assets/subject_icons/gerb.png" width="220px;" height="220px">
         </div -->
         
     </div>
     
     
        <div class="container col-13" >

           <div class="row  col-13">
           <div class="sb col-lg-2 col-md-3 col-sm-4"><sub [subject]="'informatics'"></sub></div>
           <div class="sb col-lg-2  col-md-3 col-sm-4 "><sub [subject]="'biology'"></sub></div>
          
           <div class="sb col-lg-2 col-md-3  col-sm-4"><sub [subject]="'english'"></sub></div>
           <div class="sb col-lg-2  col-md-3  col-sm-4"><sub [subject]="'rus'"></sub></div>
           
           <div class="sb col-lg-2 col-md-3 col-sm-4 " > <sub [subject]="'physics'"></sub></div>
           <div class="sb col-lg-2 col-md-3 col-sm-4 " style="margin-left:250px"><sub [subject]="'chemistry'"></sub></div>
           <div class="sb col-lg-2 col-md-3 col-sm-4"><sub [subject]="'math'"></sub></div>
           <div class="sb col-lg-2 col-md-3 col-sm-4"><sub [subject]="'history'"></sub></div>
           <div>
       </div>
       <br>
       
      
       
     </div>
     
       
   