<div *ngIf="inf" class="sblock">
    <div class="ss informatics"></div>
     <h4 class="hh">{{ts.getTranslate("Informatika")}}</h4>
</div>

<div *ngIf="mth" class="sblock">
 <div  class="ss math"></div>
  <h4 class="hh">{{ts.getTranslate("Matematika")}}</h4>
</div>

<div *ngIf="ph" class="sblock">
 <div  class="ss physics"></div>
  <h4 class="hh">{{ts.getTranslate("Fizika")}}</h4>
</div>
<div *ngIf="eng" class="sblock">
  <div  class="ss english"></div>
   <h4 class="hh">{{ts.getTranslate("Iňlis dili")}}</h4>
</div>
<div *ngIf="bio" class="sblock">
  <div  class="ss biology"></div>
   <h4 class="hh">{{ts.getTranslate("Biologiýa")}}</h4>
</div>
<div *ngIf="chem" class="sblock">
  <div  class="ss chemistry"></div>
  <h4 class="hh">{{ts.getTranslate("Himiýa")}}</h4>
</div>           
<div  *ngIf="tm" class="sblock">
  <div  class="ss turkmen"></div>
  <h4 class="hh" >{{ts.getTranslate("Türkmen dili")}}</h4>
</div>
<div *ngIf="hist" class="sblock">
  <div  class="ss history"></div>
   <h4 class="hh">{{ts.getTranslate("Taryh")}}</h4>
</div>
<div *ngIf="rus" class="sblock">
  <div  class="ss russian"></div>
   <h4 class="hh">{{ts.getTranslate("Rus dili")}}</h4>
</div>